.form {
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__title {
    font-size: size(24, 18);
    line-height: size(26, 20);
    margin-bottom: 2rem;
    text-align: center;
    color: $color;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
    &:last-child {
      
      .form__message {
        order: 3;
        height: 3rem;
      }
    }
   
  }
  &__input, &__textarea {
    border: 1px solid $fc;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    outline: none;
    color: $fc;
    text-transform: capitalize;
    &:focus, &:active {
      border-color: $ac;
    }
    &.valid {
      border-color: rgb(6, 139, 1);
      position: relative;
      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
      }
 
   
    }
  }

  &__textarea {
    text-transform: none;
    resize: "none";
  }
  &__policy {
    font-weight: 300;
    color: $fc;
    text-align: center;
  }
  &__message {
    font-size: 1.2rem;
    line-height: 2rem;
    height: 2rem;
    text-align: center;
    color: rgba($color: #ff0000, $alpha: 0.6);
    &_ok {
      color: rgb(6, 139, 1);
    }
  }

}