.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(#000, 0.2) 0px 1px 3px;
  &__logo {
    display: block;
    max-width: 100%;
    img {
      max-width: 160px;
      object-fit: cover;
      display: block;
    }
  }
  &__tel {
    font-size: size(22, 18);
    font-weight: bold;
    transition: color .3s ease;
    &:hover {
      color: $ac;
    }
  }
}