.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(#000, 0.2) 0px 1px 3px;
}
