.slider {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
    width: 50px;
    height: calc(100% - 3.2rem);
    background: rgba(#000, 0.3);
    border-radius: 0;
    margin-top: 0;
    top: 0;
    color: #fff;
    &::after,
    &::before {
      font-size: 2.5rem;
      line-height: 5rem;
      margin: 0 auto;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-container {
    padding-bottom: 3.2rem;
  }
  .swiper-slide {
    opacity: 0.3;
    height: auto;
    transition: opacity 0.3s linear;
  }
  .swiper-slide-active {
    opacity: 1;
  }
  .swiper-slide-active.slide {
    &::after {
      content: none;
    }
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($ac, 0.3);
      z-index: 100;
    }
  }
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  height: 16px;
  bottom: 8px;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  transition: all 0.3s linear;
}
.swiper-pagination-bullet-active {
  transform: scale(1.3);
  background: $ac;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s linear;

  &__before {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__after {
    display: block;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__cursor {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    cursor: col-resize;
    outline: none;
    border: none;
  }
  &__resizer {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    top: 0;
    left: 50%;
    height: 100%;
    width: 3px;
    background: white;
    touch-action: pan-y;
    cursor: col-resize;
    &::after,
    &::before {
      content: url("../icons/arrow.svg");
      cursor: col-resize;
      position: absolute;
      top: 50%;

      width: 30px;
      height: 30px;
      z-index: 300;
    }
    &::before {
      right: 1rem;
      transform: translateY(-50%) rotate(180deg);
    }
    &::after {
      left: 1rem;
      transform: translateY(-50%);
    }
  }
}
